<h1>TOP 10 SONGS</h1>
<%= button_to "ADD SONG", new_song_path,method: :get, class:"btn btn-primary"%>



<table class="table">
    <tr>
        <th>Artwork</th>
        <th>Song</th>
        <th>Date Of Release</th>
        <th>Artists<th>
    </tr>

    <% @songs.each do |song| %>
        <tr>
            <td>
                <% if song.profile_image.attached? %>
                <%= image_tag song.profile_image, style: "width: 200px" %>
                <%end%>
            </td>
            <td>
                <%= song.name %>
            </td>
            <td>
                <%= song.dor  %>
            </td>
            <td>
                <%= song.artistname  %>
            </td>
        </tr>
    <%end%>
<table>